@{
    ViewData["Title"] = ViewData["Title"] ?? "OnlineGallery"; // Varsayılan başlık
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkında</title>
    <link rel="stylesheet" href="~/css/styles.css">  <!-- CSS dosyanızı burada çağırabilirsiniz -->
</head>
<body>

    <div class="container mt-5">
        <h1>Hakkında</h1>
        <p>
            OnlineGallery A.Ş. güçlü bir sanat deneyimi üzerine Maslak, Sarıyer İstanbul'da kurulmuş kurumsal bir sanat platformudur.
            Kurucusu Sebahattin Teği Uygun, ilk sanat deneyimlerini babası ressam Ayhan Türker’in sanat çevresinde edinmiştir.
            Kariyerine, yoğun müzayede/sanat evi çalışmaları ile başlamıştır.
            İlk sanat galerisini, kardeşi mimar Barış Türker ile birlikte 2012 yılında kurmuştur.
            Türker Art halen Teşvikiye’de faaliyet göstermektedir.

            Sanat konusundaki 20 seneyi aşkın deneyimlerini, seçkin sanat eserlerini daha geniş kitlelere ulaştırmak hedefi ile Artopol‘ü kurmuştur.
            OnlineGallery.com online olarak 7/24 değerli sanatseverlere hizmet eden bir sanat sitesidir.
            42 Maslak’ta ciddi bir yatırımla kurulan fiziki sanat galerisi görülmeye ve deneyimlemeye değer bir mekân olmuştur.
        </p>

        <h2>Vizyon ve Misyon</h2>
        <p>
            <strong>Vizyon:</strong> OnlineGallery.com olarak, sanatın evrensel bir dil olduğuna ve bu dilin toplumlar arasında köprüler kurabileceğine inanıyoruz.
            Sanatın, toplumun her kesiminden bireyler için erişilebilir olduğu ve dönüştürücü gücünün yaygınlaştığı bir dünya hayal ediyoruz..
        </p>
        <p>
            <strong>Misyon:</strong> Sanatın farklı disiplinlerinde faaliyet gösteren bireyleri ve toplulukları bir araya getirerek, yaratıcı projeler geliştirmek ve bu projeleri toplumla paylaşmak,
            Bireylerin kendilerini sanat yoluyla ifade etmeleri için güvenli paylaşım ve destek ortamları sağlamak,
            Hak temelli yaklaşımımızla toplumsal eşitliği desteklemek, ifade özgürlüğü hakkı başta olmak üzere temel hak ve özgürlüklere sahip çıkan bir anlayışla faaliyetlerimizi sürdürmek,
            Toplumun her kesiminden sanatçının yeteneklerini sergileyebileceği ve geliştirebileceği platformlar oluşturmak.
        </p>

        <h3>Tüm Eserler Galerimizde Bulunur</h3>
        <p>
            En önemlisi OnlineGallery'de yer alan tüm eserler fiziki olarak Artopol Sanat Galerisi’nde sergilenmektedir.
            Artopol, sadece seçkin sanat eserlerini sanatseverlerin beğenisine sunmaktadır.
            Artopol’deki tüm eserler, konusunda deneyimli üyelerden oluşan bir kurul tarafından seçilerek envantere girer.
        </p>
        <h3>Neden OnlineGallery</h3>
        <ul>
            <li>Geniş Sanatçı Portföyü ve Sanat Eserleri Seçkisi</li>
            <li>Profesyonel Online Sanat Galerisi</li>
            <li>Doğru Fiyatlandırma</li>
            <li>Tüm Eserler Fiziken Galeride Sergilenir</li>
            <Li>Orijinallik Sertifikası</Li>
            <Li>Kolay Sipariş Değişikliği İmkanı</Li>
            <Li>Bilgi Alma Hakkı</Li>
            <Li>Ücretsiz Kargo</Li>
        </ul>

        <h2>İletişim</h2>
        <p>
            Bizimle iletişime geçmek için aşağıdaki bilgilerden yararlanabilirsiniz:
        </p>
        <address>
            E-posta: Sebogaming123@gmail.com <br>
            Telefon: 0534 305 81 69<br>
            Adres: Samandıra mahallesi SancakTepe Istanbul Türkiye
        </address>

       
    </div>

</body>
</html>
